
obj/Debug/WinDIRs.Properties.Resources.resources
obj/Debug/WinDIRs.pdb
obj/Debug/WinDIRs.exe
obj/Debug/WinDIRs.DIRReader.resources
obj/Debug/WinDIRs.csproj.GenerateResource.cache
obj/Debug/WinDIRs.csproj.FileListAbsolute.txt
obj/Debug/WinDIRs.csproj.CoreCompileInputs.cache
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
bin/Debug/WinDIRs.pdb
bin/Debug/WinDIRs.exe.config
bin/Debug/WinDIRs.exe
